.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls button {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 10px;
  height: 42px;
  width: 42px;
  border-radius: 25px;
}

.volume-control input[type="range"] {
  -webkit-appearance: none;
  width: 150px;
  background: #43497e;
  border-radius: 15px;
  height: 6px;
  margin-bottom: 3px;
}

.volume-control input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: -6px; /* align with track */
}

.volume-control input[type="range"]::-moz-range-progress {
  width: 150px;
  background: #818aec;
  border-radius: 15px;
  height: 6px;
  margin-bottom: 3px;;
}

.audio-player {
  position: fixed;
  bottom: 10px;
  left: 20px;
  z-index: 10;
}

.audio-player h3 {
  margin-left: 15px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: white;
}
