@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

#vanta-article-bg {
  animation: fadeIn 1s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}
.height-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.article-container {
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 50%, rgb(0, 0, 0) 100%);
  padding: 30px;
  justify-items: center;
  align-items: center;
}

.content-container {
  display: inline-grid;
  max-width: 960px;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-top: 120px;
  margin-bottom: 40px;
  font-weight: 600;
}

.article-content {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.8;
  margin-bottom: 30px;
}

.article-meta {
  font-size: 1rem;
  color: #e6e6e6;
  text-align: left;
}

.article-meta p {
  margin: 8px 0;
}

.content-container button {
  background-color: #713252;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s;
  font-weight: 400;
  margin-bottom: 20px;
}

.content-container button:hover {
  background-color: #bf9bae;
}

.error-message h1 {
  font-size: 10rem;
  margin: 0;
  font-weight: 700;
  color: white;
}

.error-message p {
  font-size: 1.5rem;
  margin: 20px 0;
  font-weight: 400;
  color: white;
}

.error-message button {
  background-color: #713252;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s;
  font-weight: 400;
}

.error-message button:hover {
  background-color: #bf9bae;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #fff;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 6px solid transparent;
  border-top: 6px solid #d13d71;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

::ng-deep img {
  max-width: 90%;
  padding: 15px;
  border-radius: 35px;
  height: auto;
  box-sizing: border-box;
}

::ng-deep .gallery {
  display: grid;
  max-width: 90vw;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: auto;
  padding: 15px;
}

::ng-deep .gallery img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

::ng-deep .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease forwards;
  z-index: 1000;
  cursor: pointer;
}

::ng-deep .modal img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 20px;
  object-fit: contain;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95); /* optional: slight zoom effect */
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  ::ng-deep .gallery img {
    flex: 1 1 calc(50% - 15px);
  }
}

@media (max-width: 480px) {
  ::ng-deep .gallery img {
    gap: 0;
    padding: 0;
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  ::ng-deep img {
    max-width: 98vw;
  }
}

@media (max-width: 480px) {
  ::ng-deep .modal img {
    max-width: 100%;
    max-height: 95%;
  }
}

