@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

#vanta-about-bg {
  animation: fadeIn 1s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  z-index: -100; /* Place the background behind content */
}

a {
  text-decoration: none;
  color: inherit;
}

.height-container {
  min-height: 100vh;
  align-content: center;
}

.about-container {
  position: relative;
  color: white;
  padding: 120px 20px;
  max-width: 960px;
  margin: 0px auto 0px auto;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

.about-header-mobile {
  text-align: center;
  padding-top: 50px;
}

.about-header-mobile p {
  font-style: italic;
}

.about-header-mobile h1 {
  font-size: 2.5rem;
  background: transparent;
  border: 4px solid white;
  margin: 8px 30px 8px 30px;
  padding: 10px;
  border-radius: 45px;
}

.about-header {
  text-align: center;
}

.about-header p {
  font-style: italic;
}

.about-content p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

.about-header h1 {
  font-size: 2.5rem;
  background: transparent;
  border: 4px solid white;
  margin: 8px 340px 8px 340px;
  padding: 10px;
  border-radius: 45px;
}

.about-header .subtitle {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 30px;
}

.about-content {
  line-height: 1.6;
  font-size: 1.2rem;
}

.category {
  border-radius: 8px;
  padding: 5px;
  width: 200px;
}

.category h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
}

.tech-stack-title {
  font-size: 1.4rem;
  text-align: center;
  background: linear-gradient(135deg, #9c27b0, #6200ea);
  margin: 8px 380px 20px 380px;
  padding: 10px;
  border-radius: 30px;
}

.tech-stack-title-mobile {
  font-size: 1.4rem;
  text-align: center;
  background: linear-gradient(135deg, #9c27b0, #6200ea);
  margin: 8px 80px 20px 80px;
  padding: 10px;
  border-radius: 30px;
}

.tech-stack {
  background: linear-gradient(135deg, #9c27b0, #6200ea);
  border-radius: 40px;
  margin: 0px 30px 0px 30px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tech-stack ul {
  list-style: none;
  padding-left: 0;
}

.tech-stack li {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 12px 0;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
}

.tech-stack li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .about-container {
    padding: 20px 10px;
  }

  .about-header h1 {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
