<div id="vanta-about-bg"></div>
<div class="height-container">
  <div class="about-container">
    <div class="about-header" [ngStyle]="{'margin-top': isMobile ? '60px' : '120px'}">
      <h1>About Me</h1>
      <p class="subtitle">Hobby developer & designer</p>
    </div>
    <hr class="rounded">
    <div class="about-content">
      <h1><code>itzMiney</code></h1>
      <p>
        Hello, I'm Michael, a developer and designer based in Austria. I specialize in frontend web development,
        graphic design, and creating neat UIs.
      </p>
      <p>
        When I'm not coding, I love learning new technologies and contributing to open-source projects.<br>I also give support on the Pterodactyl Discord
      </p>
      <br>
      <h3 class="tech-stack-title">Tech Stack</h3>
      <div class="tech-stack">
        <div class="category">
          <h4>< WEB _ SERVERS ></h4>
          <ul>
            <a href="https://nginx.org/en/" target="_blank"><li>NGiNX</li></a>
          </ul>
        </div>
        <div class="category">
          <h4>< LANGUAGES ></h4>
          <ul>
            <a href="https://nodejs.org/" target="_blank"><li>Node.js</li></a>
            <a href="https://www.typescriptlang.org/" target="_blank"><li>JavaScript & TypeScript</li></a>
            <a href="https://go.dev/" target="_blank"><li>Go</li></a>
            <a href="https://html.spec.whatwg.org/" target="_blank"><li>CSS & HTML</li></a>
          </ul>
        </div>
        <div class="category">
          <h4>< DATABASES ></h4>
          <ul>
            <a href="https://www.mysql.com/" target="_blank"><li>MySQL</li></a>
            <a href="https://mariadb.org/" target="_blank"><li>MariaDB</li></a>
          </ul>
        </div>
        <div class="category">
          <h4>< TOOLS ></h4>
          <ul>
            <a href="https://github.com/" target="_blank"><li>GitHub</li></a>
            <a href="https://www.docker.com/" target="_blank"><li>Docker</li></a>
            <a href="https://code.visualstudio.com/" target="_blank"><li>VSCode</li></a>
            <a href="https://www.jetbrains.com/webstorm/" target="_blank"><li>WebStorm</li></a>
            <a href="https://www.jetbrains.com/idea/" target="_blank"><li>IntelliJ IDEA</li></a>
            <a href="https://angular.dev/" target="_blank"><li>Angular</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
