<div id="vanta-about-bg"></div>
<div class="about-container">
  <div class="about-header" *ngIf="!isMobile">
    <h1>About Me</h1>
    <p class="subtitle">Hobby developer & designer</p>
  </div>
  <div class="about-header-mobile" *ngIf="isMobile">
    <h1>About Me</h1>
    <p class="subtitle">Hobby developer & designer</p>
  </div>

  <div class="about-content">
    <p>
      Hello, I'm Michael, a developer and designer based in Austria. I specialize in frontend web development,
      graphic design, and creating neat UIs.
    </p>
    <p>
      When I'm not coding, I love learning new technologies and contributing to open-source projects.<br>I also give support on the Pterodactyl Discord
    </p>
    <br>
    <h3 class="tech-stack-title" *ngIf="!isMobile">Tech Stack</h3>
    <h3 class="tech-stack-title-mobile" *ngIf="isMobile">Tech Stack</h3>
    <div class="tech-stack">
      <div class="category">
       <h4>= WEB SERVERS =</h4>
        <ul>
          <li>NGiNX</li>
        </ul>
      </div>
      <div class="category">
        <h4>= LANGUAGES =</h4>
       <ul>
         <li>Node.js</li>
         <li>JavaScript/TypeScript</li>
         <li>Go</li>
         <li>CSS & HTML</li>
        </ul>
      </div>
      <div class="category">
        <h4>= DATABASES =</h4>
        <ul>
          <li>MySQL/MariaDB</li>
        </ul>
      </div>
      <div class="category">
        <h4>= TOOLS =</h4>
        <ul>
          <li>Git</li>
          <li>Docker</li>
          <li>VSCode</li>
          <li>WebStorm</li>
          <li>IntelliJ</li>
          <li>Angular</li>
        </ul>
      </div>
    </div>
  </div>
</div>
