<div id="vanta-about-bg"></div>
<div class="height-container">
  <div class="about-container">
  <div class="about-header" [ngStyle]="{'margin-top': isMobile ? '60px' : '120px'}">
      <h1>About Me</h1>
      <p class="subtitle">Hobby developer & designer</p>
    </div>
  <div class="about-content">
    <p>
      Hello, I'm Michael, a developer and designer based in Austria. I specialize in frontend web development,
      graphic design, and creating neat UIs.
    </p>
    <p>
      When I'm not coding, I love learning new technologies and contributing to open-source projects.<br>I also give support on the Pterodactyl Discord
    </p>
    <br>
      <h3 class="tech-stack-title">Tech Stack</h3>
    <div class="tech-stack">
      <div class="category">
       <h4>= WEB SERVERS =</h4>
        <ul>
          <li><a href="https://nginx.org/en/">NGiNX</a></li>
        </ul>
      </div>
      <div class="category">
        <h4>= LANGUAGES =</h4>
       <ul>
         <li><a href="https://nodejs.org/">Node.js</a></li>
         <li><a href="https://www.typescriptlang.org/">JavaScript & TypeScript</a></li>
         <li><a href="https://go.dev/">Go</a></li>
         <li><a href="https://html.spec.whatwg.org/">CSS & HTML</a></li>
        </ul>
      </div>
      <div class="category">
        <h4>= DATABASES =</h4>
        <ul>
          <li><a href="https://www.mysql.com/">MySQL</a></li>
          <li><a href="https://mariadb.org/">MariaDB</a></li>
        </ul>
      </div>
      <div class="category">
        <h4>= TOOLS =</h4>
        <ul>
          <li><a href="https://github.com/">GitHub</a></li>
          <li><a href="https://www.docker.com/">Docker</a></li>
          <li><a href="https://code.visualstudio.com/">VSCode</a></li>
          <li><a href="https://www.jetbrains.com/webstorm/">WebStorm</a></li>
          <li><a href="https://www.jetbrains.com/idea/">IntelliJ IDEA</a></li>
          <li><a href="https://angular.dev/">Angular</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
