@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

#vanta-login-bg {
  animation: fadeIn 1s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

.height-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Login Form Styles */
.login-container {
  flex-direction: column;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 300px;
  text-align: center;
  margin: 20px;
  position: fixed;
  z-index: 1;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 92%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 25px;
}

button {
  width: 50%;
  padding: 10px;
  margin-top: 20px;
  background-color: #5a39bd;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #4e17ef;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
