#vanta-contact-bg {
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  z-index: -100; /* Place the background behind content */
}

.contact-container {
  position: relative;
  color: white;
  padding: 120px 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 0px auto 0px auto;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

.contact-header {
  text-align: center;
}

.contact-header p {
  font-style: italic;
}

.contact-box p {
  font-size: 1.0rem;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.contact-header h1 {
  font-size: 2.5rem;
  background: transparent;
  border: 4px solid white;
  margin: 8px 230px 8px 230px;
  padding: 10px;
  border-radius: 45px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.contact-box {
  line-height: 1.6;
  font-size: 1.1rem;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
  background: linear-gradient(135deg, #9c27b0, #6200ea);
  margin: 8px 250px 20px 250px;
  padding: 10px;
  border-radius: 30px;
}

.contact-box {
  background: linear-gradient(135deg, #9c27b0, #6200ea);
  border-radius: 40px;
  padding: 20px;
  margin: 0px 30px 0px 30px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.contact-form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  gap: 15px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  border-color: #6200ea;
}

.contact-form button {
  padding: 12px;
  background-color: #ffffff;
  color: black;
  min-width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.right {
  transform: translateX(+300px);
}

.contact-form button:hover {
  background-color: #dddddd;
  color: #6200ea;
}

.contact-form textarea {
  resize: vertical;
  min-height: 120px;
}

@media (max-width: 768px) {
  .contact-container {
    padding: 20px 10px;
  }

  .contact-header h1 {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
