@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

#vanta-success-bg {
  animation: fadeIn 1s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

.success-container {
  position: relative;
  color: black;
  padding-top: 50px;
  padding-bottom: 80px;
  max-width: 560px;
  margin: 160px auto 80px auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #fff;
  border-radius: 35px;
}

.height-container {
  min-height: 100vh;
  align-content: center;
}

.privacy-content {
  font-weight: 400;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
}

.back-button {
  background-color: rgb(154, 89, 172);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  margin-inline: 15px;
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
}

.back-button:hover {
  background-color: rgb(187, 107, 209);
}
