<div class="mobile-navbar">
  <!-- Hamburger Icon -->
  <button class="menu-icon" (click)="toggleMenu()">☰</button>

  <!-- Logo Text (Centered) -->
  <div class="navbar-title"><a [routerLink]="'/'" [class.active]="activeLink === '/'">itzMiney.dev</a></div>

  <!-- Full-Screen Menu -->
  @if (menuOpen) {
    <div class="full-screen-menu">
      <button class="close-icon" (click)="toggleMenu()">✖</button>
      <ul>
        <li><a [routerLink]="'/'" [class.active]="activeLink === '/'"><i class="fa-solid fa-address-card"></i>&#x2007;{{ 'NAV_ABOUT' | translate }}</a></li>
        <li><a [routerLink]="'/portfolio'" [class.active]="activeLink === '/portfolio'"><i class="fa-solid fa-image"></i>&#x2007;Portfolio</a></li>
        <li><a [routerLink]="'/socials'" [class.active]="activeLink === '/socials'"><i class="fa-solid fa-hashtag"></i>&#x2007;Socials</a></li>
        <!--      <li><a [routerLink]="'/services'" [class.active]="activeLink === '/services'"><i class="fa-solid fa-money-bill"></i>&#x2007;{{ 'NAV_SERVICES' | translate }}</a></li> -->
        <li><a [routerLink]="'/blog'" [class.active]="activeLink === '/blog'"><i class="fa-solid fa-newspaper"></i>&#x2007;Blog</a></li>
      </ul>
      <div class="language-switch">
        <button (click)="switchLang('en')" [class.active]="currentLang === 'en'" class="en">EN</button>
        <button (click)="switchLang('de')" [class.active]="currentLang === 'de'" class="de">DE</button>
      </div>
    </div>
  }
</div>
