<div id="vanta-portfolio-bg"></div>
<div class="height-container">
<div class="portfolio-container">
  <ng-container *ngIf="!isMobile; else mobileContainer">
  <div class="portfolio-header" *ngIf="!isMobile">
    <h1>My Portfolio</h1>
    <p class="subtitle">Projects & Designs</p>
  </div>
  </ng-container>
  <ng-template #mobileContainer>
  <div class="portfolio-header-mobile" *ngIf="isMobile">
    <h1>My Portfolio</h1>
    <p class="subtitle">Projects & Designs</p>
  </div>
  </ng-template>
  <div class="text-content">
    <p>
      Welcome to my portfolio!<br><br>
      I mostly do modern graphic designs since a couple years now,
      but I'm also getting better at coding and you might soon see a couple little coding projects from my <a href="https://github.com/itzminey">GitHub</a> listed here too!<br>
      If you like what I do consider following me on my <a href="https://linktr.ee/itzminey">socials</a> and if you feel really generous leave a tip on my <a href="https://ko-fi.com/itzminey">Ko-Fi!</a><br>
      You can also commission me to make designs for you, just click on the button below!
    </p>
  </div>
  <div class="commission-button">
    <a href="https://ko-fi.com/itzminey/commissions" target="_blank">
      <button class="ko-fi-btn">Commission me on Ko-Fi</button>
    </a>
  </div>
  <div class="portfolio-gallery">
    <div class="gallery-item">
      <img src="/assets/design1.png" alt="Design 1">
      <p>Abstract Background</p>
    </div>
    <div class="gallery-item">
      <img src="/assets/design2.png" alt="Design 2">
      <p>Profile Picture Design</p>
    </div>
    <div class="gallery-item">
      <img src="/assets/design3.png" alt="Design 3">
      <p>Pixelart Canvas</p>
    </div>
    <div class="gallery-item">
      <img src="/assets/design4.png" alt="Design 4">
      <p>Profile Picture Design 2</p>
    </div>
    <div class="gallery-item">
      <img src="/assets/design5.png" alt="Design 5">
      <p>Social Media Banner</p>
    </div>
    <div class="gallery-item">
      <img src="/assets/design6.png" alt="Design 6">
      <p>Logo Design</p>
    </div>
  </div>
</div>
</div>
