<div id="vanta-imprint-bg"></div>
<div class="height-container">
  <div class="imprint-container">
    <div class="text-content">
      <h1>Imprint</h1>
      <p>This website is ran by Michael Reisinger in Austria, reachable via:</p>
      <ul>
        <li>
          <span (click)="copyToClipboard('michael@itzminey.dev')"><i class="fa-solid fa-envelope"></i></span>
          Email: <a href="mailto:michael@itzminey.dev">michael&#64;itzminey.dev</a>
          <span *ngIf="copiedSection === 'email'" class="copy-status">Copied!</span>
        </li>
        <li>
          <span (click)="copyToClipboard('+436604349465')"><i class="fa-solid fa-phone"></i></span>
          Phone: <a href="tel:+436604349465">+43 660 4349465</a>
          <span *ngIf="copiedSection === 'phone'" class="copy-status">Copied!</span>
        </li>
      </ul>
    </div>
  </div>
</div>
