<div id="vanta-services-bg"></div>
<div class="height-container">
  <div class="services-container">
    <div class="services-header" [ngStyle]="{'margin-top': isMobile ? '60px' : '120px'}">
      <h1>{{ 'SERVS_TITLE' | translate}}</h1>
      <p class="subtitle">Web Development & Design</p>
    </div>
    <hr class="rounded">
    <div class="text-content">
      <p [innerHTML]="'SERVS' | translate"></p>
    </div>
    <div class="contact-button">
      <a href="mailto:michael@itzminey.dev" target="_blank">
        <button class="contact-btn">{{ 'SERVS_CONTACT' | translate}}</button>
      </a>
    </div>
    <div class="service-cards">
      <div class="service-item" *ngFor="let service of services; let i = index">
        <div class="service-card">
          <span [innerHTML]="service.name"></span>
          <div class="tab-toggle">
            <div
              class="tab-slider"
              [class.right]="activeTab[i] === 'advanced'">
            </div>

            <button
              class="tab-option"
              [class.active]="activeTab[i] === 'basic'"
              (click)="switchTab(i, 'basic')">
              {{ 'BASIC' | translate }}
            </button>

            <button
              class="tab-option"
              [class.active]="activeTab[i] === 'advanced'"
              [class.disabled]="!service.advanced || service.advanced.trim() === ''"
              [disabled]="!service.advanced || service.advanced.trim() === ''"
              (click)="switchTab(i, 'advanced')">
              {{ 'ADVANCED' | translate }}
            </button>
          </div>
          <div class="tab-content" [innerHTML]="activeTab[i] === 'basic' ? service.basic : service.advanced"></div>
          <a
            class="buy-button"
            *ngIf="getActivePriceId(service, activeTab[i]); else contactButton"
            (click)="checkout(getActivePriceId(service, activeTab[i])!)">
            {{ 'BUY' | translate }}
          </a>

          <ng-template #contactButton>
            <a
              class="buy-button"
              [href]="'mailto:michael@itzminey.dev?subject=Inquiry about ' + service.name">
              {{ 'SERVS_CONTACT' | translate }}
            </a>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>
