<div id="vanta-blog-bg"></div>
<div class="height-container">
  <div class="blog-header" [ngStyle]="{'margin-top': isMobile ? '72px' : '112px'}">
    <h1>Blog</h1>
    <p class="subtitle">Some (very) irregular updates</p>
  </div>
  <div class="blog-container">
    <div *ngIf="articles$ | async as articles; else noArticles">
      <div *ngFor="let article of articles" (click)="navigateToArticle(article.slug)" class="article-card">
        <h2>{{ (article.title | slice:0:45) + (article.title.length > 40 ? '...' : '')}}</h2>
        <p>{{ (article.content | slice:0:80) + (article.content.length > 80 ? '...' : '')}}</p>
        <p><small>By {{ article.authorName }} | {{ article.createdAt | date: 'short' }}</small></p>
      </div>
    </div>
  </div>
<ng-template #noArticles>
  <h2>No Articles yet!</h2>
</ng-template>
</div>
