@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

#vanta-blog-bg {
  animation: fadeIn 1s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

.height-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.blog-header .subtitle {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 23px;
}

.blog-header {
  text-align: center;
  color: white;
}

.blog-header h1 {
  font-size: 2.5rem;
  background: transparent;
  border-bottom: 4px solid white;
  margin: 8px auto 8px auto;
  max-width: 220px;
  padding: 10px;
  border-radius: 45px;
}

.blog-container {
  position: relative;
  text-align: center;
  max-width: 900px;
  margin-top: 10px;
  margin-bottom: 60px;
  padding: 20px;
}

.article-card {
  z-index: 10;
  background: linear-gradient(135deg, #501949, #93446e);
  padding: 15px;
  margin: 25px 0;
  cursor: pointer;
  border-radius: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.article-card:hover {
  background: linear-gradient(135deg, #cd376b, #592840);
  transform: translateY(-5px);
}

h2 {
  font-size: 1.6rem;
  color: #ffffff;
}

p {
  font-size: 1rem;
  color: #dcdcdc;
}

hr.rounded {
  border: 2px solid white;
  width: 40px;
  max-width: 40px;
  border-radius: 5px;
}
