<div id="vanta-blog-bg"></div>
<div class="height-container">
  <div class="blog-header" [ngStyle]="{'margin-top': isMobile ? '72px' : '112px'}">
    <h1>Blog</h1>
    <p class="subtitle">{{ 'BLOG_SUB' | translate }}</p>
  </div>
  <hr class="rounded">
  <div class="blog-container">
    @if (articles$ | async; as articles) {
      <div>
        @for (article of articles.slice().reverse(); track article) {
          <div (click)="navigateToArticle(article.slug)" class="article-card">
            <h2>{{ (article.title | slice:0:45) + (article.title.length > 40 ? '...' : '')}}</h2>
            <p>{{ truncateContent(article.content, 80) }}</p>
            <p><small>By {{ article.authorName }} | {{ article.createdAt | date: 'dd/MM/yy, HH:mm' }}</small></p>
          </div>
        }
      </div>
    } @else {
      <h2>{{ 'ARTICLES_NONE' | translate }}</h2>
    }
  </div>
</div>
