<footer>
  <p>&#169; {{ currentYear }} itzMiney</p>
  <p><a href="/tos">{{ 'FOOTER_TOS' | translate }}</a> &bull; <a href="/imprint">{{ 'FOOTER_IMP' | translate }}</a> &bull; <a href="/privacy">{{ 'FOOTER_PRIV' | translate }}</a></p>

  <div class="social-icons">
    <a href="https://linktr.ee/itzminey" target="_blank" aria-label="Twitter">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="https://discord.gg/RstBa88" target="_blank" aria-label="Discord">
      <i class="fa-brands fa-discord"></i>
    </a>
    <a href="https://github.com/itzminey" target="_blank" aria-label="GitHub">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</footer>
