name: CI

on:
  pull_request:
    branches: [ master ]
    paths:
      - "src/**"
      - "scripts/**"
      - "angular.json"
      - "tsconfig*.json"
      - "package.json"
      - "package-lock.json"
      - ".github/workflows/**"
      - "public/i18n/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.13.0
          cache: npm

      - run: npm i -g npm@11.8.0
      - run: npm --version

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build --if-present
