name: Workflow Lint

on:
  workflow_dispatch:
  pull_request: 
    branches: [ master ]
    paths:
      - ".github/workflows/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: rhysd/actionlint@v1.7.10
